<template>
  <div id="app">
    <div class="container">
      <AddTodo />
      <FilterTodo />
      <ToDo />
    </div>
  </div>
</template>

<script>
import ToDo from '@/components/ToDo.vue'
import AddTodo from '@/components/AddTodo.vue'
import FilterTodo from '@/components/FilterTodo.vue'

export default {
  name: 'App',
  components: {
    ToDo,
    AddTodo,
    FilterTodo
  }
}
</script>

<style>
body{
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  line-height: 1.6;

}
.container{
  max-width: 1100px;
  margin: auto;
  overflow: auto;
  padding: 0 2rem;
}
</style>


